.btn:hover {
  color: white;
}

.btn {
  color: #28a745;
}

.badge {
  margin-right: .2rem;
}

.event-header {

  color: white;
  background-color: #28a745;
}

.event-date, .event-times {

  font-size: 18pt;
  text-align: center;
}

.event-section-title, .rsvp-users-title {
  font-size: 12pt;
  color: #9B9B9C;
}

.event-info {

  font-size: 14pt;
  font-weight: bold;
}

.event-rsvp {

  width: 100%;
}

.progress, .progress-bar {

  height: 40px;
}


.progress {
  border-width: 1px;
  border-color: #28a745;
  border-style: solid;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white;
}

.progress-bar {
  background-color: #28a745;
}

.btn-rsvp {
  width: 100%;
  margin-top: -1px;
  border-top: none;
  border-color: #28a745;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #28a7459;
  font-weight: bold;
}

.btn-rsvp:hover {
  border-color: #28a745;
  background-color: #28a745;
  color: white;
}

.btn-rsvp-leave {

    border-color: #ff0000;
    color: #ff0000;
}

.btn-rsvp-leave:hover {
  border-color: #ff0000;
  background-color: #ff0000;
  color: white;
}

.event-header button {
  color: white;
}
