<div class="modal fade" id="eventModal" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create a New Event</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<div class="form-row">
							<label for="event-name" class="col-sm-3 col-form-label">Event Name:</label>
							<input type="text" class="col-sm-9 form-control" id="event-name" placeholder="Required">
						</div>
					</div>
					<div class="form-group">
						<label for="categories" class="col-form-label">Categories:</label>
						<p>Place category list here</p>
					</div>
					<div class="form-group">
						<div class="form-row">
							<label for="num-people" class="col-sm-2 col-form-label">People:</label>
							<input type="text" class="col-sm-3 form-control" id="num-people" placeholder="Required">
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<label for="location" class="col-sm-2 col-form-label">Location:</label>
							<input type="text" class="col-sm-10 form-control" id="location">
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<label for="start-time" class="col-sm-3 col-form-label">Start Time:</label>
							<input type="text" class="col-sm-3 form-control" id="start-time">
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<label for="end-time" class="col-sm-3 col-form-label">End Time:</label>
							<input type="text" class="col-sm-3 form-control" id="end-time">
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<label for="description" class="col-form-label">Description:</label>
							<textarea class="form-control" id="location" rows="3"></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>