<div class="container">
  <div class="row">
    <!-- The eventCoord variable is passed from google-map (parent) to location-search (child) through
          @Input. This is used to retrive [lat, lng] of the address entered in the location-search bar -->
    <app-location-search class="col-sm-12 py-1" [eventCoord]="centerCoord"></app-location-search>
  </div>
</div>
<div class="agm-wrapper pt-2">
  <agm-map
  [zoom] = "zoom"
  [latitude]="centerCoord.lat"
  [longitude]="centerCoord.lng"
  [styles]="styles">
    <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="setCurrentEvent(m)"
      [latitude]="m.location[1]"
      [longitude]="m.location[0]">
    </agm-marker>
  </agm-map>
</div>

<!-- Button for opening event creation -->
<div class="button-overlay">
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#eventModal">
		<i class="fa fa-plus"></i>
	</button>
</div>
<div class="zoom-button-overlay">
  <button type="button" class="btn btn-secondary" (click)="zoomIn()">
		<i class="fa fa-plus"></i>
	</button>
  <button type="button" class="btn btn-secondary" (click)="zoomOut()">
		<i class="fa fa-minus"></i>
	</button>
</div>

<!-- Event creation modal -->
<app-event></app-event>
<app-view-event [currentEvent]='selectedEvent'></app-view-event>
