.agm-wrapper {
  height: 100%;
  width: 100%;
}

agm-map {
  height: 100%;
}

.button-overlay {
	position: absolute;
	left: 10px;
	bottom: 10px;
	border-radius: 50%;
	font-size: 200%;
}

.zoom-in-button-overlay {
	position: absolute;
	right: 10px;
	bottom: 45px;
	border-radius: 50%;
	font-size: 200%;
}

.zoom-out-button-overlay {
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	font-size: 200%;
}

.top-overlay {
	position:  absolute;
	right: 1rem;
	z-index: 2

}
