body, html {

  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal-title {

  margin: 0 auto;
}

/* Used for Google Maps location autorecommend. Without this, it does not work in bootstrap modals */
.pac-container {
  z-index: 1054 !important;
}

.dropdown-item:hover {

  cursor: pointer;
}
